{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="shadow p-3 mb-5 bg-body rounded" action="/create" method="post">
            <div class="mb-3">
                <label for="componentInput1" class="form-label">Component</label>
                <select class="form-select" aria-label="Select a component" id="componentInput1">
                    <option selected>Please select a component</option>
                    {% for element in components_csv %}
                    <option value="{{ element.component_name }}">{{ element.component_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="titleInput1" class="form-label">Title</label>
                <input type="text" class="form-control" id="titleInput1">
            </div>
            <div class="mb-3">
                <label for="descriptionInput1" class="form-label">Description</label>
                <textarea class="form-control" id="descriptionInput1" rows="3"></textarea>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="priorityInput1" class="form-label">Priority Level</label>
                    <select class="form-select" aria-label="Select priority level" id="priorityInput1">
                        <option selected>Please select a priority level</option>
                        {% for element in priority_and_severity_options_csv %}
                        <option value="{{ element.priority }}">{{ element.priority }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="severityInput1" class="form-label">Severity Level</label>
                    <select class="form-select" aria-label="Select severity level" id="severityInput1">
                        <option selected>Please select a severity level</option>
                        {% for element in priority_and_severity_options_csv %}
                        <option value="{{ element.severity }}">{{ element.severity }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 pt-3">
                <label for="statusInput1" class="form-label">Status</label>
                <select class="form-select" aria-label="Select a status" id="statusInput1">
                    <option selected>Please select a status</option>
                    {% for element in status_options_csv %}
                    <option value="{{ element.status }}">{{ element.status }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}