{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row justify-content-center">
    <div class="col-auto">
        {% if tickets_cvs %}
        <h2 class="text-center my-5">Ticket Status Table</h2>
        <p>
            <button type="button" class="btn btn-primary" onclick="create_ticket_button()">Create Ticket</button>
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearchBar" aria-expanded="false" aria-controls="collapseSearchBar">Search for ticket</button>
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSortOptions" aria-expanded="false" aria-controls="collapseSortOptions">Sorting Options</button>
        </p>
        <div class="collapse" id="collapseSearchBar">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                    {% include "search_bar.html.jinja" %}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseSortOptions">
            <div class="card card-body">
                <form action="/" method="get">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="sortByInput1" class="form-label">Sort Ticket Status Table By</label>
                            <select name="sort_by" class="form-select" aria-label="Sort Ticket Status Table By" id="sortByInput1" value="{{ sort_options.sort_by }}">
                                <option {% if sort_options.sort_by=='uid' %}selected{% endif %} value="uid" label="UID"></option>
                                <option {% if sort_options.sort_by=='create_at' %}selected{% endif %} value="created_at" label="Created"></option>
                                <option {% if sort_options.sort_by=='updated_at' %}selected{% endif %} value="updated_at" label="Updated"></option>
                                <option {% if sort_options.sort_by=='component_name' %}selected{% endif %} value="component_name" label="Component"></option>
                                <option {% if sort_options.sort_by=='title' %}selected{% endif %} value="title" label="Title"></option>
                                <option {% if sort_options.sort_by=='priority' %}selected{% endif %} value="priority" label="Priority"></option>
                                <option {% if sort_options.sort_by=='severity' %}selected{% endif %} value="severity" label="Severity"></option>
                                <option {% if sort_options.sort_by=='status' %}selected{% endif %} value="status" label="Status"></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="orderByDescendingInput1" class="form-label">Display Order</label>
                            <select name="order_by_descending" class="form-select" aria-label="Display Order" id="orderByDescendingInput1" value="{{ sort_options.order_by_descending }}">
                                <option {% if sort_options.order_by_descending=='1' %}selected{% endif %} value="1" label="Ascending"></option>
                                <option {% if sort_options.order_by_descending=='0' %}selected{% endif %} value="0" label="Descending"></option>
                            </select>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto my-5">
                        <button type="submit" class="btn btn-primary btn-lg">SORT TABLE</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive table-hover shadow p-3 mb-5 bg-body rounded">
            <thead>
                <tr>
                    <th scope="col">UID</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Component</th>
                    <th scope="col">Title</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for element in tickets_cvs %}
                <tr>
                    <th scope="row">{{ element.uid }}</th>
                    <td>{{ element.created_at_full_date }}</td>
                    <td>{{ element.updated_at_full_date }}</td>
                    <td>{{ element.component_name }}</td>
                    <td>{{ element.title }}</td>
                    {% for priority_and_severity_option in priority_and_severity_options_csv %}
                        {% if priority_and_severity_option.value==element.priority %}
                        <td>{{ priority_and_severity_option.priority }}</td>
                        {% endif %}
                        {% if priority_and_severity_option.value==element.severity %}
                        <td>{{ priority_and_severity_option.severity }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for status_option in status_options_csv %}
                        {% if status_option.value==element.status %}
                        <td>{{ status_option.status }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Open</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/view?uid={{ element.uid }}">View Ticket</a></li>
                                <li><a class="dropdown-item" href="/update?uid={{ element.uid }}">Update Ticket</a></li>
                                <li><a class="dropdown-item" href="#" onclick="confirm_deletion({{ element.uid }})">Delete Ticket</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center my-5">
            <h2 class="mb 3">No tickets found</h2>
            <button type="button" class="btn btn-primary btn-lg" onclick="create_ticket_button()">CREATE TICKET</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    function confirm_deletion(uid) {
        var ticket_uid = uid;
        if (window.confirm("Do you really want to delete this ticket?")) {
            send_delete_post_request({"uid": ticket_uid});
        }
    }
    function send_delete_post_request(data) {
        console.log( 'Sending data' );

        const XHR = new XMLHttpRequest();

        var urlEncodedData = "",
            urlEncodedDataPairs = [],
            name;

        // Turn the data object into an array of URL-encoded key/value pairs.
        for (name in data) {
            urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
        }

        // Combine the pairs into a single string and replace all %-encoded spaces to
        // the '+' character; matches the behavior of browser form submissions.
        urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

        // Define what happens on successful data submission
        XHR.addEventListener( 'load', function(event) {
            window.location.href = "/";
        } );

        // Define what happens in case of error
        XHR.addEventListener( 'error', function(event) {
            alert('Oops! Something went wrong.');
        } );

        // Set up our request
        XHR.open('POST', '/delete');

        // Add the required HTTP header for form data POST requests
        XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Finally, send our data.
        XHR.send( urlEncodedData );
    }
    function create_ticket_button() {
        window.location.href = "/create";
    }
{% endblock %}