{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {% if search_results %}
            {% for element in search_results %}
            <div class="shadow p-3 mb-5 bg-body rounded p-3">
                <p>{{ element.title }}</p>
                <p>{{ element.description }}</p>
                <p>Similarity rating: {{ element.similarity_rating }}%</p>             
            </div>
            {% endfor %}
        {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center p-3">
            <h2 class="mb 3">No tickets found</h2>
            <a href='/create'><button type="button" class="btn btn-primary btn-lg">CREATE TICKET</button></a>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
{% block scripts %}
    function confirm_deletion(uid) {
        var ticket_uid = uid;
        if (window.confirm("Do you really want to delete this ticket?")) {
            window.location.href = "/delete?uid=" + ticket_uid;
        }
    }
{% endblock %}