{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {% include "search_bar.html.jinja" %}
        {% if search_results %}
            <h2 class="text-center">Results</h2>
            {% for element in search_results %}
            <div class="shadow p-3 mb-5 bg-body rounded my-5">
                <p>{{ element.title }}</p>
                <p>{{ element.description }}</p>
                <p>Similarity rating: {{ element.similarity_score }}%</p>
                <a href="/view?uid={{ element.uid }}">VIEW TICKET</a>       
            </div>
            {% endfor %}
        {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center my-5">
            <h2 class="mb 3">{% if search_value %}There are no tickets matching the search value '{{ search_value }}'{% else %}No tickets found{% endif %}</h2>
            <a href='/'><button type="button" class="btn btn-outline-secondary btn-lg">RETURN HOME</button></a>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}