{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        {% include "search_bar.html.jinja" %}
        {% if search_results %}
            <h2 class="text-center">Results</h2>
            {% for element in search_results %}
            <div class="shadow p-3 mb-5 bg-body rounded my-5">
                <h3 class="text-center my-3">{{ element.title }}</h3>
                <p><strong>UID:</strong> {{ element.uid }}</p>
                <p><strong>Component:</strong> {{ element.component_name }}</p>
                <p><strong>Status:</strong> {{ element.status }}</p>
                <p><strong>Search similarity score:</strong> {{ element.similarity_score }}%</p>
                <div class="d-grid gap-2 col-6 mx-auto my-5">
                    <button type="button" class="btn btn-outline-secondary btn-lg" onclick="view_ticket_button({{ element.uid }})">VIEW TICKET</button>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="shadow p-3 mb-5 bg-body rounded justify-content-center text-center my-5">
            <h2 class="mb 3">{% if search_value %}There are no tickets matching the search value '{{ search_value }}'{% else %}No tickets found{% endif %}</h2>
            <a href='/'><button type="button" class="btn btn-outline-secondary btn-lg">RETURN HOME</button></a>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}
{% block scripts %}
    function view_ticket_button(uid) {
        window.location.href = "/view?uid=" + uid;
    }
{% endblock %}