{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="shadow p-3 mb-5 bg-body rounded" action="{% if page_title=='Update Ticket' %}/update?uid={{ ticket_data.uid }}{% else %}/create{% endif %}" method="post">
            {% if page_title=='Update Ticket' %}
            <div class="mb-3">
                <label for="uidInput1" class="form-label">UID</label>
                <input type="text" class="form-control" id="uidInput1" value="{{ ticket_data.uid }}" disabled>
            </div>
            <div class="mb-3">
                <label for="uidInput2" class="form-label visually-hidden">UID</label>
                <input name="uid" type="hidden" class="form-control visually-hidden" id="uidInput2" value="{{ ticket_data.uid }}">
            </div>
            <div class="mb-3">
                <label for="createAtInput1" class="form-label visually-hidden">Created</label>
                <input name="created_at" type="hidden" class="form-control visually-hidden" id="createAtInput1" value="{{ ticket_data.created_at }}">
            </div>
            <div class="mb-3">
                <label for="createAtFullDateInput1" class="form-label visually-hidden">Created</label>
                <input name="created_at_full_date" type="hidden" class="form-control visually-hidden" id="createAtFullDateInput1" value="{{ ticket_data.created_at_full_date }}">
            </div>
            <div class="mb-3">
                <label for="createAtFullDateInput2" class="form-label">Created</label>
                <input type="text" class="form-control" id="createAtFullDateInput2" value="{{ ticket_data.created_at_full_date }}" disabled>
            </div>
            <div class="mb-3">
                <label for="updatedAtInput1" class="form-label visually-hidden">Updated</label>
                <input name="updated_at" type="hidden" class="form-control visually-hidden" id="updatedAtInput1" value="{{ ticket_data.updated_at }}">
            </div>
            <div class="mb-3">
                <label for="updatedAtFullDateInput1" class="form-label visually-hidden">Updated</label>
                <input name="updated_at_full_date" type="hidden" class="form-control visually-hidden" id="updatedAtFullDateInput1" value="{{ ticket_data.updated_at_full_date }}">
            </div>
                {% if ticket_data.updated_at %}
                <div class="mb-3">
                    <label for="updatedAtFullDateInput2" class="form-label">Updated</label>
                    <input type="text" class="form-control" id="updatedAtFullDateInput2" value="{{ ticket_data.updated_at_full_date }}" disabled>
                </div>
                {% endif %}
            {% endif %}
            <div class="mb-3">
                <label for="componentInput1" class="form-label">Component</label>
                <select name="component_name" class="form-select" aria-label="Select a component" id="componentInput1">
                    <option disabled {% if page_title!='Update Ticket' %}selected{% endif %}>Please select a component</option>
                    {% for element in components_csv %}
                    <option value="{{ element.component_name }}" {% if page_title=='Update Ticket' %}{% if ticket_data.component_name==element.component_name %}selected{% endif %}{% endif %}>{{ element.component_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="titleInput1" class="form-label">Title</label>
                <input name="title" type="text" class="form-control" id="titleInput1" value="{% if page_title=='Update Ticket' %}{{ ticket_data.title }}{% else %}{% endif %}">
            </div>
            <div class="mb-3">
                <label for="descriptionInput1" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="descriptionInput1" rows="3">{% if page_title=='Update Ticket' %}{{ ticket_data.description }}{% else %}{% endif %}</textarea>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="priorityInput1" class="form-label">Priority Level</label>
                    <select name="priority" class="form-select" aria-label="Select priority level" id="priorityInput1" value="{% if page_title=='Update Ticket' %}{{ ticket_data.priority }}{% else %}{% endif %}">
                        <option disabled {% if page_title!='Update Ticket' %}selected{% endif %}>Please select a priority level</option>
                        {% for element in priority_and_severity_options_csv %}
                        <option value="{{ element.priority }}" {% if page_title=='Update Ticket' %}{% if ticket_data.priority==element.priority %}selected{% endif %}{% endif %}>{{ element.priority }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="severityInput1" class="form-label">Severity Level</label>
                    <select name="severity" class="form-select" aria-label="Select severity level" id="severityInput1" value="{% if page_title=='Update Ticket' %}{{ ticket_data.severity }}{% else %}{% endif %}">
                        <option disabled {% if page_title!='Update Ticket' %}selected{% endif %}>Please select a severity level</option>
                        {% for element in priority_and_severity_options_csv %}
                        <option value="{{ element.severity }}" {% if page_title=='Update Ticket' %}{% if ticket_data.severity==element.severity %}selected{% endif %}{% endif %}>{{ element.severity }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 pt-3">
                <label for="statusInput1" class="form-label">Status</label>
                <select name="status" class="form-select" aria-label="Select a status" id="statusInput1" value="{% if page_title=='Update Ticket' %}{{ ticket_data.status }}{% else %}{% endif %}">
                    <option disabled {% if page_title!='Update Ticket' %}selected{% endif %}>Please select a status</option>
                    {% for element in status_options_csv %}
                    <option value="{{ element.status }}" {% if page_title=='Update Ticket' %}{% if ticket_data.status==element.status %}selected{% endif %}{% endif %}>{{ element.status }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary btn-lg">{% if page_title=='Update Ticket' %}UPDATE{% else %}CREATE{% endif %}</button>
                <a href="/"><button type="button" class="btn btn-outline-secondary btn-lg">CANCEL</button></a>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}