{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="shadow p-3 mb-5 bg-body rounded my-5">
            <h3 class="text-center">{{ ticket_data.title }}</h3>
            <p><strong>UID:</strong> {{ ticket_data.uid }}</p>
            <p><strong>Component:</strong> {{ ticket_data.component_name }}</p>
            {% for status_option in status_options_csv %}
                {% if status_option.value==ticket_data.status %}
                <p><strong>Status:</strong> {{ status_option.status }}</p>
                {% endif %}
            {% endfor %}
            <p><strong>Created:</strong> {{ ticket_data.created_at_full_date }}</p>
            {% if ticket_data.updated_at %}
            <p><strong>Updated:</strong> {{ ticket_data.updated_at_full_date }}</p>
            {% endif %}
            {% for priority_and_severity_option in priority_and_severity_options_csv %}
                {% if priority_and_severity_option.value==ticket_data.priority %}
                <p><strong>Priority:</strong> {{ priority_and_severity_option.priority }}</p>
                {% endif %}
                {% if priority_and_severity_option.value==ticket_data.severity %}
                <p><strong>Severity:</strong> {{ priority_and_severity_option.severity }}</p>
                {% endif %}
            {% endfor %}
            <p><strong>Description:</strong> {{ ticket_data.description }}</p>
            <div class="d-grid gap-2 col-6 mx-auto my-5">
                <button type="button" class="btn btn-primary btn-lg" onclick="update_ticket_button({{ ticket_data.uid }})">UPDATE TICKET</button>
                <button type="button" class="btn btn-outline-danger btn-lg" onclick="confirm_deletion({{ ticket_data.uid }})">DELETE TICKET</button>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
{% block scripts %}
    function update_ticket_button(uid) {
        window.location.href = "/update?uid=" + uid;
    }
    function confirm_deletion(uid) {
        var ticket_uid = uid;

        if (window.confirm("Do you really want to delete this ticket?")) {
            send_delete_post_request({"uid": ticket_uid});
        }
    }
    function send_delete_post_request(data) {
        console.log( 'Sending data' );

        const XHR = new XMLHttpRequest();

        var urlEncodedData = "",
            urlEncodedDataPairs = [],
            name;

        // Turn the data object into an array of URL-encoded key/value pairs.
        for (name in data) {
            urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
        }

        // Combine the pairs into a single string and replace all %-encoded spaces to
        // the '+' character; matches the behavior of browser form submissions.
        urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );

        // Define what happens on successful data submission
        XHR.addEventListener( 'load', function(event) {
            window.location.href = "/";
        } );

        // Define what happens in case of error
        XHR.addEventListener( 'error', function(event) {
            alert('Oops! Something went wrong.');
        } );

        // Set up our request
        XHR.open('POST', '/delete');

        // Add the required HTTP header for form data POST requests
        XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Finally, send our data.
        XHR.send( urlEncodedData );
    }
{% endblock %}