{% extends "base.html.jinja" %}
{% block maincontent %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="shadow p-3 mb-5 bg-body rounded my-5">
            <h3 class="text-center">{{ ticket_data.title }}</h3>
            <p>Component: {{ ticket_data.component_name }}</p>
            <p>UID: {{ ticket_data.uid }}</p>
            <p>Status: {{ ticket_data.status }}</p>
            <p>Seach similarity score: {{ ticket_data.similarity_score }}%</p>  
            <div class="d-grid gap-2 col-6 mx-auto my-4">
                <button type="button" class="btn btn-outline-secondary btn-lg" onclick="update_ticket_button({{ ticket_data.uid }})">UPDATE TICKET</button>
            </div>    
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}
{% block scripts %}
    function update_ticket_button(uid) {
        window.location.href = "/update?uid=" + uid;
    }
{% endblock %}